<template name="layout">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Mr. Montir Rungkut" src="images/mr-montir-logo.png" width="20em" height="20em">
                </a>
                {{> burgerMenuIcon}}
                <a class="navbar-brand" href="{{pathFor 'homepage'}}">Mr. Montir Rungkut</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="scheduleNavBar"><a href="{{pathFor 'schedule'}}">Jadwal servis di bengkel</a></li>
                    <!--<li id="onthegoNavBar"><a href="{{pathFor 'onthego'}}">Panggil montir</a></li>-->
                    <li id="pickupNavBar"><a href="{{pathFor 'pickup'}}">Diambil untuk diservis</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {{> yield}}
</template>

<template name="burgerMenuIcon">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</template>

<template name="homepage">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators, not yet needed since there's only one pic -->
        <!--<ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active visible-xs-block visible-sm-block">
                <a href="#main-menu"><img src="images/august-banner-small.jpg" alt="Diskon 45% untuk servis di Agustus"></a>
                <div class="carousel-caption">
                    <!-- Here, we can put some white text on top of the pic -->
                </div>
            </div>
            <div class="item active visible-md-block visible-lg-block">
                <a href="#main-menu"><img src="images/august-banner.jpg" alt="Diskon 45% untuk servis di Agustus"></a>
                <div class="carousel-caption">
                    <!-- Here, we can put some white text on top of the pic -->
                </div>
            </div>
        </div>

        <!-- Controls, not needed yet since there's only one pic -->
        <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>-->
    </div>
    &nbsp;
    <div id="main-menu" class="container text-center">
        <a href="{{pathFor 'schedule'}}" class="btn btn-default btn-lg" role="button" style="margin-bottom: 0.5em;"><img src="images/reserve-icon.png" width="100" height="100" class="img-thumbnail"><h3>Jadwal servis di bengkel</h3></a>
        <!--<a href="{{pathFor 'onthego'}}" class="btn btn-default btn-lg" role="button" style="margin-bottom: 0.5em;"><img src="images/on-the-go-service-icon.png" width="100" height="100" class="img-thumbnail"><h3>Panggil montir</h3></a>-->
        <a href="{{pathFor 'pickup'}}" class="btn btn-default btn-lg" role="button" style="margin-bottom: 0.5em;"><img src="images/pick-up-service-icon.png" width="100" height="100" class="img-thumbnail"><h3>Diambil untuk diservis</h3></a>
    </div>
</template>

<template name="headline">
    <div class="container"><div class="well well-sm"><h3 class="text-center"><strong>{{strongText}}</strong></h3><p class="text-center">{{text}}</p></div></div>
</template>

<template name="schedule">
    {{>headline strongText="Jadwal servis di bengkel kami." text="Jl. Raya Rungkut Tengah No.74, Surabaya"}}
    <div class="container">
        <form>
            <div class="form-group">
                <label for="name">Nama Lengkap</label>
                <input type="text" class="form-control" id="name" placeholder="Siti Nurhaliza">
            </div>
            <div class="form-group">
                <label for="phone">Handphone</label>
                <input type="tel" class="form-control" id="phone" placeholder="08100055577">
            </div>
            <div class="form-group">
                <label for="date">Tanggal</label>
                <input type="date" class="form-control" id="date" min="2015-01-01" max="2020-12-31">
            </div>
            <div class="form-group">
                <label for="time">Jam</label>
                <input type="time" class="form-control" id="time" min="08:00" max="17:00">
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
        &nbsp;
    </div>
</template>

<template name="onthego">
    {{>headline strongText="Kami akan datang ke tempat Anda." text="Dengan peralatan kami, kami akan layanin kendaraan Anda di tempat Anda."}}
    <div class="container">
        <form>
            <div class="form-group">
                <strong>Butuh servis apa?</strong>
                <div class="checkbox">
                    <label><input type="checkbox" value="ganti_oli">Ganti Oli</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="ganti_ban">Ganti Ban</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="ganti_rem_cakram">Ganti Rem Cakram</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="servis_ringan">Servis Ringan</label>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Nama Lengkap</label>
                <input type="text" class="form-control" id="name" placeholder="Siti Nurhaliza">
            </div>
            {{> selectBikeType}}
            <div class="form-group">
                <label for="phone">Handphone</label>
                <input type="tel" class="form-control" id="phone" placeholder="08100055577">
            </div>
            <div class="form-group">
                <label for="address">Mau diservis di mana?</label>
                <textarea rows="2" class="form-control" id="address" placeholder="Jl. Raya Rungkut Tengah No.74, &#10;Surabaya"></textarea>
            </div>
            <div class="form-group">
                <label for="date">Tanggal</label>
                <input type="date" class="form-control" id="date" min="2015-01-01" max="2020-12-31">
            </div>
            <div class="form-group">
                <label for="time">Jam</label>
                <input type="time" class="form-control" id="time" min="08:00" max="17:00">
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
        &nbsp;
    </div>
</template>

<template name="pickup">
    {{>headline strongText="Kami akan datang untuk menukar kendaraan Anda." text="Setelah diservis, kami akan datang untuk menukar kembali."}}
    <div class="container">
        <form>
            <div class="form-group">
                <label for="name">Nama Lengkap</label>
                <input type="text" class="form-control" id="name" placeholder="Siti Nurhaliza">
            </div>
            <div class="form-group">
                <label for="phone">Handphone</label>
                <input type="tel" class="form-control" id="phone" placeholder="08100055577">
            </div>
            <div class="form-group">
                <label for="address">Mau dipick-up di mana?</label>
                <textarea rows="2" class="form-control" id="address" placeholder="Jl. Raya Rungkut Tengah No.74, &#10;Surabaya"></textarea>
            </div>
            <div class="form-group">
                <label for="date">Tanggal</label>
                <input type="date" class="form-control" id="date" min="2015-01-01" max="2020-12-31">
            </div>
            <div class="form-group">
                <label for="time">Jam</label>
                <input type="time" class="form-control" id="time" min="08:00" max="17:00">
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
        &nbsp;
    </div>
</template>

<template name="success_schedule">
    <div class="container">
        <p>Terima kasih <strong>{{name}}</strong>,</p>
        <p>Permintaan reservasi dari Anda telah tercatat untuk hari <strong>{{date}}</strong> jam <strong>{{time}}</strong> telah tercatat. Kami akan segera mengkonfirmasi Anda di nomer handphone: <strong>{{phone}}</strong>.</p>
        <p>Nomer order Anda adalah: <strong>{{_id}}</strong></p>
        <p>- Tim Mr. Montir Rungkut.</p>
        <a href="{{pathFor 'homepage'}}" class="btn btn-danger btn-lg" role="button">Kembali ke halaman utama</a>
    </div>
</template>

<template name="success_on_the_go">
    <div class="container">
        <p>Terima kasih <strong>{{name}}</strong>,</p>
        <p>Permintaan panggilan montir dari Anda telah tercatat untuk hari <strong>{{date}}</strong> jam <strong>{{time}}</strong> di:</p>
        <p><strong>{{address}}</strong></p>
        <p>Kami akan bersiap untuk melayani <strong>{{bikeType}}</strong> Anda dengan servis:</p>
        <p><strong><ul>
            {{#each services}}
                <li>{{this}}</li>
            {{/each}}
        </ul></strong></p>
        <p>Kami akan segera mengkonfirmasi Anda di nomer handphone: <strong>{{phone}}</strong>.</p>
        <p>Nomer order Anda adalah: <strong>{{_id}}</strong></p>
        <p>- Tim Mr. Montir Rungkut.</p>
        <a href="{{pathFor 'homepage'}}" class="btn btn-danger btn-lg" role="button">Kembali ke halaman utama</a>
    </div>
</template>

<template name="success_pickup">
    <div class="container">
        <p>Terima kasih <strong>{{name}}</strong>,</p>
        <p>Permintaan servis dengan pengambilan dari Anda telah tercatat untuk hari <strong>{{date}}</strong> jam <strong>{{time}}</strong> di:</p>
        <p><strong>{{address}}</strong></p>
        <p>Kami akan segera mengkonfirmasi Anda di nomer handphone: <strong>{{phone}}</strong>.</p>
        <p>Nomer order Anda adalah: <strong>{{_id}}</strong></p>
        <p>- Tim Mr. Montir Rungkut.</p>
        <a href="{{pathFor 'homepage'}}" class="btn btn-danger btn-lg" role="button">Kembali ke halaman utama</a>
    </div>
</template>

<template name="success_general">
    <div class="container">Sukses!</div>
</template>

<template name="admin">
    <div class="container">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>_id</th>
                    <th>Type</th>
                    <th>requestDateTime</th>
                    <th>name</th>
                    <th>bikeType</th>
                    <th>phone</th>
                    <th>address</th>
                    <th>services</th>
                </tr>
            </thead>
            <tbody>
                {{#if Template.subscriptionsReady}}
                    {{#each orders}}
                        {{> order}}
                    {{else}}
                        <tr>
                            <td>Loh, jek kosong</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {{/each}}
                {{else}}
                    <h1>Loading...</h1>
                {{/if}}
            </tbody>
        </table>
    </div>
</template>

<template name="order">
    <tr>
        <td>{{_id}}</td>
        <td>{{type}}</td>
        <td>{{requestDateTime}}</td>
        <td>{{name}}</td>
        <td>{{bikeType}}</td>
        <td>{{phone}}</td>
        <td>{{address}}</td>
        <td>{{services}}</td>
    </tr>
</template>