<template name="selectBikeType">
    <div class="form-group">
        <label for="bikeType">Jenis Sepeda Montor</label>
        <select class="form-control" id="bikeType" placeholder="Pilih jenis kendaraan..." >
            <option value="">Pilih jenis kendaraan...</option>
            <optgroup label="BAJAJ">
                <option value="BAJAJ PULSAR 135">BAJAJ PULSAR 135</option>
                <option value="BAJAJ PULSAR 150">BAJAJ PULSAR 150</option>
                <option value="BAJAJ PULSAR 180">BAJAJ PULSAR 180</option>
                <option value="BAJAJ PULSAR 200">BAJAJ PULSAR 200</option>
                <option value="BAJAJ PULSAR 220">BAJAJ PULSAR 220</option>
                <option value="BAJAJ XCD">BAJAJ XCD</option>
            </optgroup>
            <optgroup label="HONDA">
                <option value="HONDA BEAT">HONDA BEAT</option>
                <option value="HONDA BEAT FI">HONDA BEAT FI</option>
                <option value="HONDA BLADE">HONDA BLADE</option>
                <option value="HONDA CB400">HONDA CB400</option>
                <option value="HONDA CB600F">HONDA CB600F</option>
                <option value="HONDA CB750">HONDA CB750</option>
                <option value="HONDA CBR125">HONDA CBR125</option>
                <option value="HONDA CBR150">HONDA CBR150</option>
                <option value="HONDA CBR150R">HONDA CBR150R</option>
                <option value="HONDA CBR250">HONDA CBR250</option>
                <option value="HONDA CS 1">HONDA CS 1</option>
                <option value="HONDA CUB 100">HONDA CUB 100</option>
                <option value="HONDA CUB 125">HONDA CUB 125</option>
                <option value="HONDA DUSH 125">HONDA DUSH 125</option>
                <option value="HONDA GL MAX">HONDA GL MAX</option>
                <option value="HONDA GL MAX 2">HONDA GL MAX 2</option>
                <option value="HONDA GL PRO">HONDA GL PRO</option>
                <option value="HONDA GL SERIES">HONDA GL SERIES</option>
                <option value="HONDA GOLDWING 1800">HONDA GOLDWING 1800</option>
                <option value="HONDA GRAND IMPRESSA">HONDA GRAND IMPRESSA</option>
                <option value="HONDA INJECTION">HONDA INJECTION</option>
                <option value="HONDA KARISMA">HONDA KARISMA</option>
                <option value="HONDA KIRANA">HONDA KIRANA</option>
                <option value="HONDA LEGENDA">HONDA LEGENDA</option>
                <option value="HONDA MEGA PRO SERIES">HONDA MEGA PRO SERIES</option>
                <option value="HONDA NEW BLADE">HONDA NEW BLADE</option>
                <option value="HONDA NICE">HONDA NICE</option>
                <option value="HONDA NSR 150">HONDA NSR 150</option>
                <option value="HONDA NSR 150SP">HONDA NSR 150SP</option>
                <option value="HONDA PCX">HONDA PCX</option>
                <option value="HONDA PCX 250">HONDA PCX 250</option>
                <option value="HONDA PHANTOM">HONDA PHANTOM</option>
                <option value="HONDA PRIMA">HONDA PRIMA</option>
                <option value="HONDA REVO">HONDA REVO</option>
                <option value="HONDA REVO AT">HONDA REVO AT</option>
                <option value="HONDA REVO FI">HONDA REVO FI</option>
                <option value="HONDA SCOOPY">HONDA SCOOPY</option>
                <option value="HONDA SCOOPY FI">HONDA SCOOPY FI</option>
                <option value="HONDA SONIC">HONDA SONIC</option>
                <option value="HONDA SPACY">HONDA SPACY</option>
                <option value="HONDA SPACY F1">HONDA SPACY F1</option>
                <option value="HONDA STAR">HONDA STAR</option>
                <option value="HONDA SUPRA">HONDA SUPRA</option>
                <option value="HONDA SUPRA 125">HONDA SUPRA 125</option>
                <option value="HONDA SUPRA 125 FI">HONDA SUPRA 125 FI</option>
                <option value="HONDA SUPRA FIT">HONDA SUPRA FIT</option>
                <option value="HONDA SUPRA X">HONDA SUPRA X</option>
                <option value="HONDA SUPRA XX">HONDA SUPRA XX</option>
                <option value="HONDA TIGER NEW">HONDA TIGER NEW</option>
                <option value="HONDA TIGER SERIES">HONDA TIGER SERIES</option>
                <option value="HONDA VARIO">HONDA VARIO</option>
                <option value="HONDA VARIO CBS">HONDA VARIO CBS</option>
                <option value="HONDA VARIO CBS F1">HONDA VARIO CBS F1</option>
                <option value="HONDA VARIO TECHNO">HONDA VARIO TECHNO</option>
                <option value="HONDA VERZA FI">HONDA VERZA FI</option>
                <option value="HONDA WIN">HONDA WIN</option>
            </optgroup>
            <optgroup label="KANZEN">
                <option value="KANZEN KANZEN">KANZEN KANZEN</option>
                <option value="KANZEN KARYA">KANZEN KARYA</option>
                <option value="KANZEN SCOOTER MATIC">KANZEN SCOOTER MATIC</option>
                <option value="KANZEN STAR X">KANZEN STAR X</option>
                <option value="KANZEN VIX R">KANZEN VIX R</option>
                <option value="KANZEN VX 1">KANZEN VX 1</option>
            </optgroup>
            <optgroup label="KAWASAKI">
                <option value="KAWASAKI ATHLETE">KAWASAKI ATHLETE</option>
                <option value="KAWASAKI BAJAJ PULSAR NS200">KAWASAKI BAJAJ PULSAR NS200</option>
                <option value="KAWASAKI D-TRACKER 250">KAWASAKI D-TRACKER 250</option>
                <option value="KAWASAKI KAZE">KAWASAKI KAZE</option>
                <option value="KAWASAKI KLX">KAWASAKI KLX</option>
                <option value="KAWASAKI KLX 150">KAWASAKI KLX 150</option>
                <option value="KAWASAKI KLX 250">KAWASAKI KLX 250</option>
                <option value="KAWASAKI KLX 250">KAWASAKI KLX 250</option>
                <option value="KAWASAKI KZR">KAWASAKI KZR</option>
                <option value="KAWASAKI NINJA">KAWASAKI NINJA</option>
                <option value="KAWASAKI NINJA 250">KAWASAKI NINJA 250</option>
                <option value="KAWASAKI ZX">KAWASAKI ZX</option>
                <option value="KAWASAKI ZX 150">KAWASAKI ZX 150</option>
            </optgroup>
            <optgroup label="KYMCO">
                <option value="KYMCO AGILITY">KYMCO AGILITY</option>
                <option value="KYMCO CITY">KYMCO CITY</option>
                <option value="KYMCO FREE LX">KYMCO FREE LX</option>
                <option value="KYMCO SUPER">KYMCO SUPER</option>
            </optgroup>
            <optgroup label="MINERVA">
                <option value="MINERVA GTR">MINERVA GTR</option>
                <option value="MINERVA MAD ASS">MINERVA MAD ASS</option>
                <option value="MINERVA MAGELI">MINERVA MAGELI</option>
                <option value="MINERVA MINERVA">MINERVA MINERVA</option>
                <option value="MINERVA NAKED">MINERVA NAKED</option>
                <option value="MINERVA R150 VX">MINERVA R150 VX</option>
                <option value="MINERVA SACHS GTR">MINERVA SACHS GTR</option>
                <option value="MINERVA SUPERMOTO">MINERVA SUPERMOTO</option>
                <option value="MINERVA X-ROAD">MINERVA X-ROAD</option>
            </optgroup>
            <optgroup label="MOTOR CINA">
                <option value="MOTOR CINA MOCIN">MOTOR CINA MOCIN</option>
            </optgroup>
            <optgroup label="SUZUKI">
                <option value="SUZUKI ARASHI">SUZUKI ARASHI</option>
                <option value="SUZUKI AXELO">SUZUKI AXELO</option>
                <option value="SUZUKI BRUGHMAN 400">SUZUKI BRUGHMAN 400</option>
                <option value="SUZUKI BRUGHMAN 600">SUZUKI BRUGHMAN 600</option>
                <option value="SUZUKI FXR150">SUZUKI FXR150</option>
                <option value="SUZUKI GSX400">SUZUKI GSX400</option>
                <option value="SUZUKI GSX-R600">SUZUKI GSX-R600</option>
                <option value="SUZUKI GSX-R750">SUZUKI GSX-R750</option>
                <option value="SUZUKI HAYABUSA">SUZUKI HAYABUSA</option>
                <option value="SUZUKI HAYATE">SUZUKI HAYATE</option>
                <option value="SUZUKI INAZUMA">SUZUKI INAZUMA</option>
                <option value="SUZUKI INAZUMA 250">SUZUKI INAZUMA 250</option>
                <option value="SUZUKI LET S">SUZUKI LET S</option>
                <option value="SUZUKI MATIC">SUZUKI MATIC</option>
                <option value="SUZUKI NEX">SUZUKI NEX</option>
                <option value="SUZUKI NEX FI">SUZUKI NEX FI</option>
                <option value="SUZUKI RAIDER 125">SUZUKI RAIDER 125</option>
                <option value="SUZUKI RC 100">SUZUKI RC 100</option>
                <option value="SUZUKI RK COOL 110">SUZUKI RK COOL 110</option>
                <option value="SUZUKI SATRIA">SUZUKI SATRIA</option>
                <option value="SUZUKI SATRIA FU">SUZUKI SATRIA FU</option>
                <option value="SUZUKI SHOGUN 125">SUZUKI SHOGUN 125</option>
                <option value="SUZUKI SHOGUN SERIES">SUZUKI SHOGUN SERIES</option>
                <option value="SUZUKI SHOOTER FI">SUZUKI SHOOTER FI</option>
                <option value="SUZUKI SKYDRIVE">SUZUKI SKYDRIVE</option>
                <option value="SUZUKI SKYWAVE">SUZUKI SKYWAVE</option>
                <option value="SUZUKI SMASH NEW">SUZUKI SMASH NEW</option>
                <option value="SUZUKI SMASH SERIES">SUZUKI SMASH SERIES</option>
                <option value="SUZUKI SPIN">SUZUKI SPIN</option>
                <option value="SUZUKI THUNDER 125">SUZUKI THUNDER 125</option>
                <option value="SUZUKI THUNDER 250">SUZUKI THUNDER 250</option>
                <option value="SUZUKI TITAN">SUZUKI TITAN</option>
                <option value="SUZUKI TORNADO">SUZUKI TORNADO</option>
            </optgroup>
            <optgroup label="TVS">
                <option value="TVS APACHE">TVS APACHE</option>
                <option value="TVS DAZZ">TVS DAZZ</option>
                <option value="TVS NEO SERIES">TVS NEO SERIES</option>
                <option value="TVS ROCKZ">TVS ROCKZ</option>
                <option value="TVS TARMAX">TVS TARMAX</option>
            </optgroup>
            <optgroup label="VIAR">
                <option value="VIAR VIOR">VIAR VIOR</option>
            </optgroup>
            <optgroup label="YAMAHA">
                <option value="YAMAHA 125Z">YAMAHA 125Z</option>
                <option value="YAMAHA BYSON">YAMAHA BYSON</option>
                <option value="YAMAHA F1ZR">YAMAHA F1ZR</option>
                <option value="YAMAHA FINO">YAMAHA FINO</option>
                <option value="YAMAHA FINO FI">YAMAHA FINO FI</option>
                <option value="YAMAHA FIZ">YAMAHA FIZ</option>
                <option value="YAMAHA FJR1300">YAMAHA FJR1300</option>
                <option value="YAMAHA FORCE NEW FI">YAMAHA FORCE NEW FI</option>
                <option value="YAMAHA JUPITER">YAMAHA JUPITER</option>
                <option value="YAMAHA JUPITER MX">YAMAHA JUPITER MX</option>
                <option value="YAMAHA JUPITER Z">YAMAHA JUPITER Z</option>
                <option value="YAMAHA JUPITER Z1">YAMAHA JUPITER Z1</option>
                <option value="YAMAHA KRIPTON">YAMAHA KRIPTON</option>
                <option value="YAMAHA LEXAM">YAMAHA LEXAM</option>
                <option value="YAMAHA MAJESTY 125">YAMAHA MAJESTY 125</option>
                <option value="YAMAHA MAJESTY 250">YAMAHA MAJESTY 250</option>
                <option value="YAMAHA MIO J">YAMAHA MIO J</option>
                <option value="YAMAHA MIO SERIES">YAMAHA MIO SERIES</option>
                <option value="YAMAHA MIO SOUL">YAMAHA MIO SOUL</option>
                <option value="YAMAHA MIO SOUL GT">YAMAHA MIO SOUL GT</option>
                <option value="YAMAHA MIO SPORTY">YAMAHA MIO SPORTY</option>
                <option value="YAMAHA MT-01">YAMAHA MT-01</option>
                <option value="YAMAHA NOUVO">YAMAHA NOUVO</option>
                <option value="YAMAHA R-15">YAMAHA R-15</option>
                <option value="YAMAHA R-25">YAMAHA R-25</option>
                <option value="YAMAHA RX KING">YAMAHA RX KING</option>
                <option value="YAMAHA SCORPIO">YAMAHA SCORPIO</option>
                <option value="YAMAHA SCORPIO Z">YAMAHA SCORPIO Z</option>
                <option value="YAMAHA TIARA120">YAMAHA TIARA120</option>
                <option value="YAMAHA TOUCH125">YAMAHA TOUCH125</option>
                <option value="YAMAHA TZM150">YAMAHA TZM150</option>
                <option value="YAMAHA VEGA R">YAMAHA VEGA R</option>
                <option value="YAMAHA VEGA ZR">YAMAHA VEGA ZR</option>
                <option value="YAMAHA VEGA/KRYPTON">YAMAHA VEGA/KRYPTON</option>
                <option value="YAMAHA VIXION">YAMAHA VIXION</option>
                <option value="YAMAHA V-IXION NEW">YAMAHA V-IXION NEW</option>
                <option value="YAMAHA VMAX">YAMAHA VMAX</option>
                <option value="YAMAHA XEON">YAMAHA XEON</option>
                <option value="YAMAHA XEON GT 125">YAMAHA XEON GT 125</option>
                <option value="YAMAHA XEON RC">YAMAHA XEON RC</option>
                <option value="YAMAHA XJ-600">YAMAHA XJ-600</option>
                <option value="YAMAHA X-RIDE">YAMAHA X-RIDE</option>
                <option value="YAMAHA YZ250">YAMAHA YZ250</option>
                <option value="YAMAHA YZF-R1">YAMAHA YZF-R1</option>
                <option value="YAMAHA YZF-R6">YAMAHA YZF-R6</option>
            </optgroup>
        </select>
    </div>
</template>